<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đặt Lịch Hẹn - Nha Khoa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="~/css/Contact.css" rel="stylesheet" />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=DM+Sans&amp;display=swap'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body class="d-flex flex-column min-vh-100">

    <!-- Navbar trên cùng -->
    <nav class="nav-top navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid">

            <div class="Big4 ms-auto justify-content-start d-flex w-80">
                <div class="BigAss">
                    <a href="https://www.youtube.com/watch?v=i6wU_CQUbIA">
                        <i class="fa-brands fa-tiktok">TikTok</i>
                    </a>


                    <a href="https://www.youtube.com/watch?v=i6wU_CQUbIA">
                        <i class="fa-brands fa-facebook">Facebook</i>
                    </a>


                    <a href="https://www.youtube.com/watch?v=i6wU_CQUbIA">
                        <i class="fa-brands fa-zalo"><img src="~/Img/icons8-zalo-50.png" width="25" height="25" /> Zalo</i>

                    </a>


                    <a href="https://www.youtube.com/watch?v=i6wU_CQUbIA">
                        <i class="fa-brands fa-youtube">Youtube</i>

                    </a>
                </div>
                <div class="collapse navbar-collapse" id="mynavbar">
                    <!-- Search -->
                    <button class="button-Login" type="button" onclick="delayRedirect('/home/login')">Sign In</button>
                    <form class="d-flex ms-auto me-3">
                        <input class="form-control me-2" type="text" placeholder="Search">
                        <button class="btn btn-primary" type="button">Search</button>
                    </form>

                    <!-- Menu Login, Signup, Giỏ hàng -->
                    <div class="d-flex align-items-center">
                        <a class="btn-datngay" href="/home/contact">
                            <button class="btn-datngay"><i class="fa-solid fa-calendar-days"></i>Đặt ngay</button>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </nav>
    <!-- Thanh điều hướng thứ hai -->


    <nav class="navbar-bot navbar-expand-sm navbar-light bg-light">

        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="~/Img/hahahahahahana.png" width="100" height="60" alt="Logo">
            </a>
            <div class="contact ">
                <div class="headphone ">
                    <img src="~/Img/headphone.png" alt="headphone" />
                </div>
                <h10>Hỗ trợ đặt khám<br><p>0337178391</p></h10>


            </div>
        </div>


        <ul class="navbar-nav ms-auto d-flex justify-content-end w-80">

            <li class="nav-item">
                <a class="nav-link " href="https://localhost:7269/">Trang chủ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/home/introduce">Giới thiệu phòng khám</a>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <a class="nav-link" href="#">Dịch vụ nha khoa</a>
                    <div class="dropdown-content">
                        <a href="/home/bocrangsu">Bọc răng sứ</a>
                        <a href="/home/cayghepimpact">Cấy ghép implant</a>
                        <a href="/home/niengrang">Niềng răng thẩm mỹ</a>
                        <a href="/home/matdansu">Mặt dán sứ Veneer</a>
                        <a href="/home/taytrang">Tẩy trắng răng</a>
                    </div>
                </div>

            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/home/Contact">Đặt lịch hẹn</a>
            </li>
            

        </ul>

    <div class="container">
        <div class="appointment-container">
            <h2 class="title">ĐẶT LỊCH HẸN</h2>
            <p class="subtitle">
                Vui lòng để lại thông tin, nhu cầu của quý khách.<br>
                Nha Khoa Kim sẽ liên hệ trong vòng <strong>3 phút</strong>.<br>
                (Giờ làm việc: <strong>7h30 - 23h30</strong> mỗi ngày trừ Lễ, Tết)
            </p>

            <form action="#" method="POST">
                <!-- Giới tính -->
                <div class="mb-3">
                    <label class="form-check-label">
                        <input type="radio" name="gender" value="Anh" checked> Anh
                    </label>
                    <label class="form-check-label ms-3">
                        <input type="radio" name="gender" value="Chị"> Chị
                    </label>
                </div>

                <!-- Họ tên & Số điện thoại -->
                <div class="mb-3 row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Họ tên..." required>
                    </div>
                    <div class="col">
                        <input type="tel" class="form-control" placeholder="Số điện thoại..." required>
                    </div>
                </div>

                <!-- Ghi chú -->
                <div class="mb-3">
                    <textarea class="form-control" placeholder="Ghi chú (nếu có)..." rows="3"></textarea>
                </div>

                <!-- reCAPTCHA -->
                <div class="mb-3">
                    <div class="g-recaptcha" data-sitekey="YOUR_RECAPTCHA_SITE_KEY"></div>
                </div>

                <!-- Nút gửi -->
                <button type="submit" class="btn-submit">
                    🗓️ ĐẶT LỊCH HẸN
                </button>
            </form>
        </div>
    </div>
    </nav>
    <footer class="end-footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Company</h4>
                    <ul>
                        <li>
                            <a href="#">about us</a>
                        </li>
                        <li>
                            <a href="#">our service</a>
                        </li>
                        <li>
                            <a href="#">privacy policy</a>
                        </li>
                        <li>
                            <a href="#">affiliate program</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Get help</h4>
                    <ul>
                        <li>
                            <a href="#">FAQ</a>
                        </li>
                        <li>
                            <a href="#">shipping</a>
                        </li>
                        <li>
                            <a href="#">return</a>
                        </li>
                        <li>
                            <a href="#">order status</a>
                        </li>
                        <li>
                            <a href="#">payment opinions</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Service</h4>
                    <ul>
                        <li>
                            <a href="#">dfdfsdsv</a>
                        </li>
                        <li>
                            <a href="#">dvsdsvdsv</a>
                        </li>
                        <li>
                            <a href="#">dsvdvsdvs</a>
                        </li>
                        <li>
                            <a href="#">dsvdvsvds</a>
                        </li>
                        <li>
                            <a href="#">vdsdsvdvs</a>
                        </li>
                        <li>
                            <a href="#">dvsdvs</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Follow us</h4>
                    <div class="social-link">
                        <a href="#"><i class="fa-brands fa-tiktok"></i></a>
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-zalo"><img src="~/Img/icons8-zalo-50.png" width="25" height="25" /></i></a>
                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

</body>
</html>
